*{
    font-family: Verdana sans-serif;
    margin: 0;
}

body{
    background: #eeeeee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    /*flex-grow: 1;*/
    /*flex-basis: 700px;*/
    /*flex-shrink: 5;*/
    /*flex:1 0 200px;*/
    flex: 1; /* grow=1; shrink=1; basis=0*/
}

.one{
    background: red;
    /*flex-basis: 100px;*/
}

.two{
    background: blue;
    /*flex-basis: 200px;*/
}

.three{
    background: green;
    /*flex-basis: 300px;*/
}