*{
    font-family: Verdana sans-serif;
    margin: 0;
}

body{
    background: #eeeeee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center; /* cross axis*/
    /*justify-content: center; !* main axis*!*/
    height: 600px;
}

.box{
    width: 100px;
    flex: 0 0 100px; /* grow=1; shrink=1; basis=0*/
}

.one{
    background: red;
}

.two{
    background: blue;
}

.three{
    background: green;
}